.DeleteSchoolBtn {
    position: absolute; 
    right: 15px;
    top: 15px;
    z-index: 100;
    opacity: 0;
    transition: all 0.4s linear;
    cursor: pointer;
}
.QuestionCard:hover .DeleteSchoolBtn {
    opacity: 1;
    right: 25px;
}
