.SideNav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100%;
    width: 250px;
    max-width: 70%;
    box-sizing: border-box;
    padding: 0px 0px;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    color: white;
}

.SideNav ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

.SideNav ul li {
    cursor: pointer;
}

.SideNav ul li a{
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    display: block;
    height: 100%;
    width: 92%;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    box-sizing: border-box;
}

.SideNav ul li a.active{
    background-color: white;
    margin-left: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: rgba(255, 152, 0, 0.7);
}

@media (max-width: 768px) { 
    .SideNav {
        display: none
    }
}
