.schoolSelection{
    padding: 20px;
    width: 80%;
    max-width: 550px;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    border-radius: 6px;
}
